<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  Hi <span sec:authentication="name"></span><br>

  <div th:if="${users}">
    <h2>エントリー</h2>
    <p>今<span th:text="${userCount}"></span>人がエントリーしています
      <ul>
        <li th:each="user : ${entry.users}">[[${user}]]</li>
      </ul>
    </p>
    <p>対戦相手を選んでください
      <ul>
        <li th:each="user : ${users}">
          <a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a>
        </li>
      </ul>
    </p>
  </div>

  <p th:if="${matches}">
    <h2>試合結果</h2>
  <div th:each="match:${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
      <td><strong>[[${match.winner}]]</strong></td>
    </tr>
  </div>
  </p>

</body>

</html>
