<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <h1>Janken GAME!</h1>

  <span th:if="${name}">
    Hi <span th:text="${name}"></span><br>
  </span>

  <a href="/janken/play?userHand=Gu">ぐー</a>
  <a href="/janken/play?userHand=Cho">ちょき</a>
  <a href="/janken/play?userHand=Pa">ぱー</a>
  
  <div th:if="${userHand}">
    あなたの手 <span th:text="${userHand}"></span><br>
    相手の手 <span th:text="${cpuHand}"></span><br>
    結果 <span th:text="${result}"></span><br>
  </div>
</body>

</html>
